.footer {
  background-color: #1a1a2e; /* Mantém a cor de fundo */
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: 'Arial', sans-serif; /* Adiciona uma fonte padrão moderna */
}

.socialMedia {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.socialMedia img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s, filter 0.3s;
  filter: brightness(1); /* Mantém os ícones claros */
}

.socialMedia img:hover {
  transform: scale(1.2);
  filter: brightness(1.5); /* Aumenta o brilho ao passar o mouse */
}

.info {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 1rem; /* Aumenta o tamanho da fonte */
  color: #ffb400; /* Amarelo para o texto das informações */
}

.logo img {
  width: 100px;
  margin: 10px auto;
}

.copyright {
  font-size: 0.9rem; /* Ajusta o tamanho da fonte para melhor legibilidade */
  color: #bbb;
}
